<div class="container bg-white p-4 rounded">
    <h1 class="display-4">App Music</h1><br><br>
    <p class="lead">Bienvenido a tu aplicación de Música. Aquí podrás... 
    </p>
    <ul>
        <li><span class="lead">Registrarte con un usuario y clave</span></li>
        <li><span class="lead">Iniciar sesión en tu cuenta</span></li>
        <li><span class="lead">Crear tu lista de canciones</span></li>
        <li><span class="lead">Acceder a tu lista de canciones cuando quieras</span></li>
        <li><span class="lead">Así como actualizarlas y eliminarlas</span></li>
    </ul>
    <p class="lead">Y si te preocupa tu seguridad, esta página cuenta con persistencia de datos y cifrado de contraseñas<br>
        <strong>¿Qué esperas?</strong> Pruébala ahora!
    </p> 

</div>